<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro de Professores</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/estilo.css}">
    </head>
    <body>
        <h2>Cadastro de Professores</h2>
        <form th:method="POST" th:action="@{/Professores}">
            <input required type="text" placeholder="nome" th:name="nome">
            <input required type="email" placeholder="email" th:name="email">
            <input required type="text" placeholder="siape" th:name="siape">
            <input required type="text" placeholder="area" th:name="area">
            <input required type="text" placeholder="formacao" th:name="formacao">
            <input required type="text" placeholder="endereco" th:name="endereco">
            <input required type="tel" placeholder="telefone" th:name="telefone">
            <input required type="number" placeholder="idade" th:name="idade">
            <button type="submit">Cadastrar</button>
            <a th:href="@{/listaProfessor}">
                <button type="button">Voltar para Lista</button>
            </a>
        </form>
        
        <div th:if="${param.sucesso}" class="mensagem-sucesso">

            <p>Cadastro realizado com sucesso!</p>

        </div>
    </body>
</html>