<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Listas</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/estilo.css}">
    </head>

    <body>

        <h2>Listas do Sistema</h2>

        <div class="menu-listas">

            <a th:href="@{/listaAluno}">Alunos</a>

            <a th:href="@{/listaProfessor}">Professores</a>

            <a th:href="@{/listaCurso}">Cursos</a>

            <a th:href="@{/listaDisciplina}">Disciplinas</a>

            <a th:href="@{/listaOfertaDisciplina}">
                Ofertas de Disciplinas
            </a>

            <a th:href="@{/listaMatricula}">Matrículas</a>

        </div>

    </body>
</html>