<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Edição de Cursos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilo.css}">
    </head>
    <body>
    <header>
        <div class="header-inner">
            <a th:href="@{/dashboard}" class="header-logo">
                <span class="logo-icon">SM</span>
                Sistema Matrícula
            </a>
            <nav>
                <a th:href="@{/dashboard}">Início</a>
                <a th:href="@{/login}">Sair</a>
            </nav>
        </div>
    </header>

    <main>
       <h2>Editar Curso</h2>

        <form th:action="@{/atualizarCurso}" method="post">

            <input type="hidden" name="id" th:value="${Curso.id}">

            <label>Nome:</label>
            <input required type="text"
                name="nome"
                th:value="${Curso.nome}">

            <label>ducacao:</label>
            <input required type="text"
                name="duracao"
                th:value="${Curso.duracao}">
            
           <div class="botoes">
            <button type="submit">Salvar</button>
            <button type="button"
                th:onclick="|window.location.href='@{/listaCurso}'|">
                Cancelar
            </button>
            </div>

        </form>
    </main>
    </body>
</html>