<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Edição de Livros</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/estilo.css}">
    </head>
    <body>
        <h2>Editar Livro</h2>

        <form th:action="@{/atualizarLivro}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${livro.id}">

            <label>Título:</label>
            <input required type="text" name="titulo" th:value="${livro.titulo}">

            <label>Autor:</label>
            <input required type="text" name="autor" th:value="${livro.autor}">

            <label>ISBN:</label>
            <input required type="text" name="isbn" th:value="${livro.isbn}">

            <label>Edição:</label>
            <input required type="text" name="edicao" th:value="${livro.edicao}">

            <label>Capa:</label>
              <img th:if="${livro.capaImagem != null and !#strings.isEmpty(livro.capaImagem)}"
                  th:src="${livro.capaImagem}" alt="Capa atual do livro" width="100" height="140">
              <input type="file" name="imagem" accept="image/*">

            <label>Disciplinas:</label>

            <div class="lista-checkbox">
                <div class="checkbox-item"
                    th:each="disciplina : ${listaDisciplina}">

                    <input type="checkbox"
                        name="disciplinasIds"
                        th:value="${disciplina.id}"
                        th:id="'disciplina-' + ${disciplina.id}"
                        th:checked="${livro.disciplinas != null and #lists.contains(livro.disciplinas.![id], disciplina.id)}">

                    <label th:for="'disciplina-' + ${disciplina.id}"
                        th:text="${disciplina.nome}">
                    </label>

                </div>
            </div>

            <button type="submit">Salvar</button>
            <a th:href="@{/listaLivro}"><button type="button">Cancelar</button></a>
        </form>
    </body>
</html>
