<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Listar Cursos</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/estilo.css}">
    </head>
    <body>
        <h2>Lista de Cursos</h2>
        <div th:if="${erro}" class="mensagem erro">
            <span th:text="${erro}"></span>
        </div>

        <div th:if="${sucesso}" class="mensagem sucesso">
            <span th:text="${sucesso}"></span>
        </div>
        <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Duracação</th>
            <th>Ações</th>
        </tr>

        <tr th:each="Curso : ${listaCursos}">
            <td th:text="${Curso.id}"></td>
            <td th:text="${Curso.nome}"></td>
            <td th:text="${Curso.duracao}"></td>

            <td>
                <a th:href="@{/editarCurso(id=${Curso.id})}">Editar</a>
                <a th:href="@{/excluirCurso(id=${Curso.id})}">Excluir</a>
            </td>
        </tr>
        <div class="botoes-lista">

            <a th:href="@{/cadastraCurso}">
                <button type="button">Novo Cadastro</button>
            </a>

            <a th:href="@{/dashboard}">
                <button type="button">Voltar para Listas</button>
            </a>

        </div>

        </table>
    </body>
</html>